/comments.py
/video_cut.py
/zed1_old.py
/try_frames.py
.idea/
seq/
.ipynb_checkpoints/
sequences/
__pycache__/
datasets/  # quando abbiamo il dataset nostro lo possiamo salvare
/*.ipynb  # ignora tutti i file con estensione ipynb (i notebook)

